*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #212121;
    color: #fff;
}
nav{
    background-color: rgb(76, 75, 75);
    height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav>a{
    width: 100px;
    padding: 10px 15px;
    border-radius: 12px;
    background-color: #fff;
    position: absolute;
    text-align: center;
    text-decoration: none;
    color:black;
    border: 1px solid gray;
}

.center{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#banner{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#clock{
    font-size: 40px;
    background-color: orange;
    padding: 20px 50px;
    margin-top: 10px;
    border-radius: 10px;
}
